.pisence__contacts {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    /* background: var(--color-footer); */

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pisence__contacts-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.pisence__contacts-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
}

.pisence__contacts-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.pisence__contacts-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
}

.pisence__contacts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.pisence__contacts-container__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pisence__contacts-container__contact-icon {
    font-size: 35px;
    color: pink;
}

.pisence__contacts-container__contact-title {
    margin: 1rem 0;
}

.pisence__contacts-container__contact-title p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14x;
    line-height: 30px;
    color: var(--color-text);
    text-align: center;
}

.pisence__contacts-container__contact-text span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: white;
    text-align: center;
}


@media screen and (max-width : 800px) {
    .pisence__contacts-container {
        flex-direction: column;
    }
    .pisence__contacts-container__contact-title {
        margin: 0.5rem 0;
    }
    .pisence__contacts-container__contact {
        margin: 1rem 0;
    }

    .pisence__contacts-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .pisence__contacts-content p {
        font-size: 12px;
        line-height: 20px;
    }

    .pisence__contacts-container__contact-title p{
        font-size: 12px;
        line-height: 20px;
    }

    .pisence__contacts-container__contact-text span {
        font-size: 12px;
        line-height: 20px;
    }
}

